body {
    background-color: steelblue;
    color: white;
  }

  h1 {
    text-align: center;
  }

  #config {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    padding: 11px 21px; 
    width: 200px;     
  }  
  #op1 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    padding: 11px 21px; 
    width: 200px; 
  }
  
  #Msj {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    padding: 11px 21px;  
    width: 200px;
  }

  
  #op2 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    padding: 11px 21px;  
    width: 200px;
  }

  #op3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    padding: 11px 21px;  
    width: 200px;
  }  